body {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20vw;
  background-color: #003459;
}

#parent_container {
  margin: 0;
  width: 100%;
  height: 100%;
}


/* Navigation bar customization */

.header_container {
  margin: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  position: absolute;
  background-color: white;
  color: #003459;
  font-weight: 700;
  font-size: 35px;
  border-bottom-style: solid;
  border-bottom-color: #276FBF;
  border-bottom-width: 10px;
}

nav {
  float: left;
}

nav ul {
  margin: auto;
  list-style: none;
}

nav li {
  display: inline-block;
  position: relative;
}

nav li p {
  margin-top: 0;
  padding: 1% 0 1% 0;
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #003459;
  font-family: 'Press Start 2P', cursive;
  font-size: 1vw;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 60px;
  color: #003459;
}

nav li a::after {
  content: " ";
  display: block;
  height: 5px;
  width: 0%;
  background-color: black;
  position: absolute;
}

nav li a:hover::after {
  width: 100%;
  transition: all ease-in-out 300ms;
}

/* Introduction with Bio */

.intro {
width: auto;
margin-top: 15%;
max-width: 100%;
min-width: 50%;
min-height: 50%;
position: static;
background-color: #003459;
text-align: center;
color: white;
font-family: 'IBM Plex Mono', monospace;
font-weight: 700;
font-size: 25px;
border-bottom-style: solid;
border-bottom-color: #003459;
border-bottom-width: 10px;
display: flex;
}

  .left {
    width: 100%;
    max-height: 50%;
    margin-left: 2%;
    margin-bottom: 2%;
}

img {
  border-radius: 20px;
  border-style: solid;
  border-width: 5%;
  border-color: #276FBF;
  width: auto;
  max-width 100%;
  height: auto;
}

.right {
  margin-right: 2%;
  height: auto;
  max-height: 50%;
  margin-bottom: 3%;
  margin-top: 3%;
  flex-grow: .5;
}

/* More Info */

.more_info {
  top: 60%;
  width: 100%;
  min-width: 50%;
  height: 100%;
  min-height: 50%;
  position: static;
  text-align: center;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 2vw;
  display: flex;
  border-style: solid;
  border-width: auto;
  border-color: black;
}

.bottom_left {
  max-height: 100%;
  height: auto;
  width: 33%;
  background-color: black;
  border-radius: 0px;
  border: none;
}

.bottom_center {
  width: 35%;
  max-height: 100%;
  height: auto;
  flex-grow: 33%;
  background-color: #D7D9CE;
  text-align: center;
  color: #003459;
}

h2 .contactme {
  position: absolute;
}

.bottom_right {
  width: 33%;
  max-height: 100%;
  height: auto;
  flex-grow: 33%;
  background-color: black;
  border-radius: 0px;
  border: none;
}
