/* Cube Scene */

* { box-sizing: border-box; }

.scene {
  width: 100vw;
  height: 100vw;
  border: 1px solid #CCC;
  perspective: 100vw;
  overflow: hidden;
}

.cube {
  width: 100vw;
  height: 100vw;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-50vw);
  transition: transform 1s;
}

.cube.show-About-Me  { transform: translateZ(-50vw) rotateY(   0deg); }
.cube.show-Video  { transform: translateZ(-50vw) rotateY( -90deg); }
.cube.show-About-The-Site   { transform: translateZ(-50vw) rotateY(-180deg); }
.cube.show-Images   { transform: translateZ(-50vw) rotateY(  90deg); }
.cube.show-Main    { transform: translateZ(-50vw) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-50vw) rotateX(  90deg); }

.cube__face {
  position: absolute;
  width: 100vw;
  height: 100vw;
  border: 2px solid black;
  line-height: 100vw;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.cube__face--front  { background-color: #003459; }
.cube__face--right  { background-color: #003459; }
.cube__face--back   { background-color: #003459; }
.cube__face--left   { background-color: #003459; }
.cube__face--top    { background-color: #003459; }
.cube__face--bottom { background-color: #003459; }

.cube__face--front  { transform: rotateY(  0deg) translateZ(50vw); }
.cube__face--right  { transform: rotateY( 90deg) translateZ(50vw); }
.cube__face--back   { transform: rotateY(180deg) translateZ(50vw); }
.cube__face--left   { transform: rotateY(-90deg) translateZ(50vw); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(50vw); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(50vw); }


/* Control Bar */

.radio-group {
  padding-left: 10vw;
}

/* Splash Page */

.Splash {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 2vw;
  line-height: 10vw;
  font-family: 'Press Start 2P', cursive;

}

/* Image Page */

.pictures {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 5vw;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2vw;
}

.svg {
  height: 50%;
  width 100%;
  position: relative;
  margin: 0;
}

#mycanvas {
  position: relative;
  width: 50%;
  height: 25%;
  margin: 0;
  line-height: 5vw;
}

/* Audio Video Page */

  .video {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2vw;
    margin-top: 5%;
    line-height: 1vw;
    text-align: center;
  }

/* Front Page */

.parent_container {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  background-color: #003459;
  overflow: hidden;
}


/* Navigation bar customization */

.header_container {
  margin: 0;
  line-height: 1vw;
  top: 0;
  height: 10%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  background-color: white;
  color: #003459;
  font-weight: 700;
  font-size: 35px;
  border-bottom-style: solid;
  border-bottom-color: #276FBF;
  border-bottom-width: 10px;
}

nav {
  float: left;
}

nav ul {
  margin: auto;
  list-style: none;
}

nav li {

  display: inline-block;
  position: relative;
  vertical-align: top;
}

nav li p {
  margin-top: 0;
  max-height: 100%;
  padding: 1% 0 1% 0;
  text-transform: uppercase;
  text-align: left;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  border-color: #003459;
  font-family: 'Press Start 2P', cursive;
  font-size: 2vw;
  line-height: 5vw;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #003459;
  line-height: 3vw;
  margin-left: 2%;
  font-size: 2vw;
}


/* Introduction with Bio */

.intro {
width: auto;
margin-top: 15%;
max-width: 100%;
min-width: 50%;
height: 40%;
min-height: 40%;
position: static;
background-color: #003459;
text-align: center;
color: white;
font-family: 'IBM Plex Mono', monospace;
font-weight: 700;
font-size: 25px;
border-bottom-style: solid;
border-bottom-color: #003459;
border-bottom-width: 10px;
display: flex;
}

  .left {
    line-height: 5vw;
    Padding-top: 5%;
    width: 100%;
    max-height: 100%;
    margin-left: 2%;
    margin-bottom: 2%;
}

img {
  width:100%;
  height: 100%;
  border-radius: 20px;
  border-style: solid;
  border-width: 5%;
  border-color: #276FBF;
  width: auto;
  max-width 200%;
  height: auto;
}

.right {
  margin-right: 2%;
  height: auto;
  max-height: 50%;
  margin-bottom: 3%;
  margin-top: 3%;
  flex-grow: .5;
  line-height: 5vw;
}

/* More Info */

.more_info {
  top: 60%;
  width: 100%;
  min-width: 50%;
  height: 50%;
  min-height: 50%;
  position: static;
  text-align: center;
  color: white;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  font-size: 2vw;
  display: flex;
  border-style: solid;
  border-width: auto;
  border-color: black;
}

.bottom_left {
  max-height: 100%;
  height: auto;
  width: 33%;
  background-color: black;
  border-radius: 0px;
  border: none;
}

.bottom_center {
  width: 35%;
  max-height: 100%;
  height: auto;
  flex-grow: 33%;
  background-color: #D7D9CE;
  text-align: center;
  line-height: 5vw;
  color: #003459;
}

h2 .contactme{
  position: absolute;
}

.bottom_right {
  width: 33%;
  max-height: 100%;
  height: auto;
  flex-grow: 33%;
  background-color: black;
  border-radius: 0px;
  border: none;
}

.about-the-site-title {
  text-align: center;
  line-height: 5vw;
  margin-top: 5%;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
  height: .25vw;
  width: 100vw;
}

.about-the-site {
  white-space: pre-line;
  text-align: center;
  overflow: hidden;
  line-height: 5vw;
  margin: 1%;
  font-size: 2vw;
  font-family: 'IBM Plex Mono', monospace;
  height: 75vw;
  width: 100vw;
}
